.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    
    background: #f7d2f3;
background: radial-gradient(circle, rgb(246, 203, 241) 0%, rgba(211, 218, 220, 1) 66%);
    height: 100dvh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:"Freckle Face";
    color:#6f4e37;

}

#welctxt{
    font-size: 200%;
}
#container{
    width: 40%;
    height: 75%;
    background-color: #f7f6e1;
    border: 5px solid #d6c9b4 ;
    border-radius: 5%;
    color: #6f4e37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4%;
   
    
}
#about{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #d6c9b4;
    border-radius: 20px;
    background-image: url("images/banner.jpeg");
    
    background-repeat: no-repeat;
    background-position: 50% 132%;
}

#photo{
    height: 80%;
    border-radius: 50%;
    
    

}

#contact{
    background-color: #d6c9b4;
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.button{
    height: 50%;
    width: 20%;
    border-radius: 30px;
color: #d3dadc;
background-color: #455763;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
font-family:"Freckle Face";
}

.button:hover{
background-color:#00070b;
height: 55%;
width: 22%;
transition: 0.5s;

}

#smallcontainer{
    display:flex;
    padding: 0;
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
   
   
}

.box{
    width:40%;
    height: 100%;
    background-color: #455763;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d3dadc;
    border-radius: 10%;
   }

   .box:hover{
    background-color: #00070b;
    transition: 0.5s;
   }

